@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces 
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRolesService BTRolesService
@inject IBTNotificationsService NotificationService
@inject IBTImageService BTImageService

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="BugZapper - The tool that helps you banish bugs from your code." name="description">
    <meta content="Stephen Souvall" name="author">
    <meta name="keywords" content="Bug tracker, issue tracker, ticket tracking" />

    <!-- Title -->
    <title>BugZapper - An Issue Tracking System</title>

    <!--Favicon -->
    <link rel="icon" href="~/assets/images/brand/favicon-32x32.png" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/site.css" />

    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />

    <!--Sidemenu css -->
    <link href="~/assets/css/sidemenu.css" rel="stylesheet">

    <!-- P-scroll bar css-->
    <link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!---Sidebar css-->
    <link href="~/assets/plugins/sidebar/sidebar.css" rel="stylesheet" />

    <!-- SummerNote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <!-- INTERNAL Data table css -->
    <link href="~/assets/plugins/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet" />

    <!-- INTERNAL Pg-calendar-master css -->
    <link href="~/assets/plugins/pg-calendar-master/pignose.calendar.css" rel="stylesheet" />

</head>

<body class="app sidebar-mini">
    <partial name="_LogoutPartial" />

    <!---Global-loader-->
    <div id="global-loader">
        <img src="~/assets/images/svgs/loader.svg" alt="loader">
    </div>


    <!--aside open-->
    <aside class="app-sidebar" style="background:#191d43;">
        <div class="app-sidebar__logo">
            <a class="header-brand" asp-action="Index" asp-controller="Home">

                <img src="~/assets/images/brand/bugzapper-logo.png" class="header-brand-img desktop-lgo h-auto w-75" alt="Logo">
                <img src="~/assets/images/brand/bugzapper-logo.png" class="header-brand-img dark-logo h-auto w-75" alt="Logo">
                <img src="~/assets/images/brand/logo-no-text.png" class="header-brand-img mobile-logo" alt="Logo">
                <img src="~/assets/images/brand/logo-no-text.png" class="header-brand-img darkmobile-logo" alt="Logo">
            </a>
        </div>
        <div class="app-sidebar3">
            <div class="app-sidebar__user">
                <div class="dropdown user-pro-body text-center">


                    @if (SignInManager.IsSignedIn(User))
                    {
                        BTUser btUser = await UserManager.GetUserAsync(User);
                        IEnumerable<string> roles = await BTRolesService.ListUserRolesAsync(btUser);
                        @if (btUser.AvatarFileData is not null)
                        {
                            <img src="@BTImageService.DecodeImage(btUser.AvatarFileData, btUser.AvatarContentType)" alt="img" class="avatar avatar-md bradius">

                        }
                        else
                        {
                            <img src="~/assets/images/brand/default-profile-picture.jpg" alt="img" class="rounded-circle w-25 h-auto mb-3">

                        }
                        <div>
                            <div class="user-info">
                                <h5 class=" mb-2">@btUser.FullName</h5>
                                @foreach (string role in roles)
                                {
                                    <span class="text-muted app-sidebar__user-name text-sm">@role</span>
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
            <ul class="side-menu">
                <li class="slide">
                    <a class="side-menu__item" asp-controller="Home" asp-action="Index">
                        <i class="feather feather-home sidemenu_icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="slide">
                        <a class="side-menu__item" asp-action="Create" asp-controller="Invites">
                            <i class="far fa-paper-plane sidemenu_icon"></i>
                            <span class="side-menu__label">Invite New Member</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" asp-action="ManageUserRoles" asp-controller="UserRoles">
                            <i class="fas fa-users sidemenu_icon"></i>
                            <span class="side-menu__label">Manage User Roles</span>
                        </a>
                    </li>

                }
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="feather feather-book sidemenu_icon"></i>
                        <span class="side-menu__label">Projects</span><i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        @if(User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                        {
                        <li><a asp-controller="Projects" asp-action="AllProjects" class="slide-item">All Projects</a></li>
                        <li><a asp-controller="Projects" asp-action="Create" class="slide-item">Add Project</a></li>
                        <li><a asp-controller="Projects" asp-action="ArchivedProjects" class="slide-item">Project Archive</a></li>
                        }

                        <li><a asp-controller="Projects" asp-action="MyProjects" class="slide-item">My Projects</a></li>

                    </ul>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="feather feather-user sidemenu_icon"></i>
                        <span class="side-menu__label">Tickets</span><i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                        {
                            <li><a asp-controller="Tickets" asp-action="AllTickets" class="slide-item">All Tickets</a></li>
                        }
                            <li><a asp-controller="Tickets" asp-action="MyTickets" class="slide-item">My Tickets</a></li>
                            <li><a asp-controller="Tickets" asp-action="Create" class="slide-item">Add Tickets</a></li>
                            <li><a asp-controller="Tickets" asp-action="ArchivedTickets" class="slide-item">Ticket Archive</a></li>
                        </ul>
                </li>


            </ul>

        </div>
    </aside>
    <!--aside closed-->
    <div class="app-content main-content">
        <div class="side-app">

            <!--app header-->
            <div class="app-header header">
                <div class="container-fluid">
                    <div class="d-flex">
                        <a class="header-brand" href="index.html">
                            @*<ul class="ml-auto">
                                    <partial name="_LoginPartial" />
                                </ul>*@
                            <img src="~/assets/images/brand/bugzapper-logo.png" class="header-brand-img desktop-lgo" alt="Dayonelogo">
                            <img src="~/assets/images/brand/bugzapper-logo.pngbugzapper-logo.png" class="header-brand-img dark-logo" alt="Dayonelogo">
                            <img src="~/assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Dayonelogo">
                            <img src="~/assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
                        </a>
                        <div class="app-sidebar__toggle" data-toggle="sidebar">
                            <a class="open-toggle" href="#">
                                <i class="feather feather-menu"></i>
                            </a>
                            <a class="close-toggle" href="#">
                                <i class="feather feather-x"></i>
                            </a>
                        </div>
                        <div class="mt-0">
                            <form class="form-inline">
                                <div class="search-element">
                                    <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
                                    <button class="btn btn-primary-color">
                                        <i class="feather feather-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div><!-- SEARCH -->
                        <div class="d-flex order-lg-2 my-auto ml-auto">
                            <a class="nav-link my-auto icon p-0 nav-link-lg d-md-none navsearch" href="#" data-toggle="search">
                                <i class="feather feather-search search-icon header-icon"></i>
                            </a>
                            <div class="dropdown header-fullscreen">
                                <a class="nav-link icon full-screen-link">
                                    <i class="feather feather-maximize fullscreen-button fullscreen header-icons"></i>
                                    <i class="feather feather-minimize fullscreen-button exit-fullscreen header-icons"></i>
                                </a>
                            </div>
                            <div class="dropdown header-notify">
                                <a class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
                                    <i class="feather feather-bell header-icon"></i>
                                    <span class="bg-dot"></span>
                                </a>
                            </div>
                            <div class="dropdown profile-dropdown">
                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    <ul class="ml-auto">
                                        <partial name="_LoginPartial" />
                                    </ul>
                                }
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    BTUser btUser = await UserManager.GetUserAsync(User);
                                    IEnumerable<string> roles = await BTRolesService.ListUserRolesAsync(btUser);

                                    <a href="#" class="nav-link pr-1 pl-0 leading-none" data-toggle="dropdown">
                                        <span>
                                            @if (btUser.AvatarFileData is not null)
                                            {
                                                <img src="@BTImageService.DecodeImage(btUser.AvatarFileData, btUser.AvatarContentType)" alt="img" class="avatar avatar-md bradius">

                                            }
                                            else
                                            {
                                                <img src="~/assets/images/brand/default-profile-picture.jpg" alt="img" class="avatar avatar-md bradius">

                                            }
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                        <div class="p-3 text-center border-bottom">
                                            <a href="#" class="text-center user pb-0 font-weight-bold">@btUser.FullName</a>
                                            @foreach (string role in roles)
                                            {
                                                <p class="text-center user-semi-title">@role</p>
                                            }

                                        </div>
                                        <a class="dropdown-item d-flex" asp-area="Identity" asp-page="/Account/Manage/Index">
                                            <i class="feather feather-edit-2 mr-3 fs-16 my-auto"></i>
                                            <div class="mt-1">Manage Account</div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="javascript:document.getElementById('logoutform').submit();">
                                            <i class="feather feather-power mr-3 fs-16 my-auto"></i>
                                            <div class="mt-1">Sign Out</div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/app header-->
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>


        </div>

        <!--Sidebar-right-->
        <div class="sidebar sidebar-right sidebar-animate">
            <div class="card-header border-bottom pb-5">
                <h4 class="card-title">Notifications </h4>
                <div class="card-options">
                    <a href="#" class="btn btn-sm btn-icon btn-light text-primary" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="feather feather-x"></i> </a>
                </div>
            </div>
            <div class="">
                @if (SignInManager.IsSignedIn(User))
                {
                    BTUser btUser = await UserManager.GetUserAsync(User);
                    IEnumerable<Notification> Notifications = await NotificationService.GetReceivedNotificationsAsync(btUser.Id);
                    @foreach (Notification notification in Notifications)
                    {
                        <div class="list-group-item  align-items-center border-0">
                            <div class="d-flex">
                                <div class="mt-1">
                                    <a href="#" class="font-weight-semibold fs-16"><span class="text-muted font-weight-normal">@notification.Title</span></a><br />
                                    <small class="text-muted">by: @notification.Sender.FullName </small>
                                    <span class="clearfix"></span>
                                </div>
                                <div class="ml-auto">
                                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="feather feather-more-horizontal"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a asp-action="Details" asp-controller="Notifications" asp-route-id="@notification.Id"><i class="feather feather-eye mr-2"></i>View</a></li>
                                        <li><a asp-action="Delete" asp-controller="Notifications" asp-route-id="@notification.Id"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    };
                }


            </div>
        </div>
        <!--/Sidebar-right-->
      
    </div>

    <!-- Back to top -->
    <a href="#top" id="back-to-top"><span class="feather feather-chevrons-up"></span></a>

    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@

    <!-- ChartJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Moment js-->
    <script src="~/assets/plugins/moment/moment.js"></script>

    <!-- Bootstrap4 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!--Sidemenu js-->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scroll js-->
    <script src="~/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/assets/plugins/p-scrollbar/p-scroll1.js"></script>

    <!--Sidebar js-->
    <script src="~/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>

    <!-- SummerNote -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });
        });
    </script>

    <!-- Circle-progress js-->
    <script src="~/assets/plugins/circle-progress/circle-progress.min.js"></script>

    <!-- INTERNAL Chart js -->
    <script src="~/assets/plugins/chart/chart.bundle.js"></script>
    <script src="~/assets/plugins/chart/utils.js"></script>

    <!-- INTERNAL Apexchart js-->
    <script src="~/assets/plugins/apexchart/apexcharts.js"></script>

    <!-- INTERNAL Data tables -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap4.min.js"></script>

    <!-- INTERNAL Pg-calendar-master js -->
    <script src="~/assets/plugins/pg-calendar-master/pignose.calendar.full.min.js"></script>

    <!-- INTERNAL Index js-->
    <script src="~/assets/js/index4.js"></script>
    <script src="~/assets/js/project/project-sidemenuchart.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>