@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<BugTracker.Models.Ticket>

<div class="row mt-5">
    <div class="col-xl-10 col-md-12 mx-auto">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Ticket List</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table id="details-datatable" class="table table-hover card-table table-vcenter text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Project</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Ticket Type</th>
                                <th scope="col">Ticket Status</th>
                                <th scope="col">Ticket Priority</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        @ticket.Title
                                    </th>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("MMM dd, yyyy")
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id"><i class="far fa-lg fa-eye" style="color: #0275d8;"></i></a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id"><i class="fas fa-lg fa-edit" style="color:#f0ad4e;"></i></a>
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id"><i class="fas fa-lg fa-trash-alt" style="color:#d9534f;"></i></a>

                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row m-3">
                        <div class="col h5">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col">
                            @Html.PagedListPager(Model, page => Url.Action("AllTickets", new { id = @Model.FirstOrDefault()?.Id, page = page }),
                            new PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            }

                          )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>