@model BugTracker.Models.ViewModels.TicketDetailsViewModel
@using BugTracker.Services.Interfaces
@inject IBTFileService _fileService

@{
    ViewData["Title"] = "Details";
}

<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title"><span class="font-weight-normal text-muted mr-2">@Model.Ticket.Project.Name:</span> @Model.Ticket.Title</h4>
    </div>
</div>
<!--End Page header-->

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card m-3 p-3 ticket-cards">
            <div class="card-header  border-0">
                <div class="card-title">Ticket Details</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td><strong>Description:</strong></td>
                            <td>:</td>
                            <td>@Model.Ticket.Description</td>

                        </tr>
                        <tr>
                            <td><strong>Ticket Status</strong></td>
                            <td>:</td>
                            <td>@Model.Ticket.TicketStatus.Name</td>
                        </tr>
                        @if (Model.CurrentUser.Id == Model.ProjectManager?.Id || User.IsInRole("Admin"))
                        {
                            @if (Model.Ticket.DeveloperUser != null)
                            {
                                <tr>
                                    <td class="card-text mt-3"><strong>Assigned Developer:</strong> </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        @Model.Ticket.DeveloperUser.FullName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a asp-action="AssignTicket" asp-controller="Tickets" asp-route-ticketId="@Model.Ticket.Id" class="btn btn-success">Change Developer</a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="card-text mt-3"><strong>Assigned Developer:</strong> </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        Unassigned
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a asp-action="AssignTicket" asp-controller="Tickets" asp-route-ticketId="@Model.Ticket.Id" class="btn btn-success">Assign Developer</a>
                                    </td>
                                </tr>
                            }

                        }
                        else
                        {
                            @if (Model.Ticket.DeveloperUser != null)
                            {
                                <tr>
                                    <td class="card-text mt-3"><strong>Assigned Developer:</strong> </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        @Model.Ticket.DeveloperUser.FullName
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="card-text mt-3"><strong>Assigned Developer:</strong> </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        Unassigned
                                    </td>
                                </tr>
                            }
                        }
                       
                    </table>
                </div>
                
                

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card shadow m-3 p-3 ticket-cards">
            <div class="card-header  border-0">
                <div class="card-title">Ticket Details</div>
            </div>
            <div class="card-body row">
                <div class="col-8">
                    <p class="card-text">Created:</p>
                    <p class="card-text">Ticket Type:</p>
                    <p class="card-text">Ticket Priority:</p>
                    <p class="card-text">Ticket Status:</p>
                </div>
                <div class="col-4">
                    <p class="badge badge-primary">@Model.Ticket.Created.ToString("MMM dd, yyyy")</p><br />
                    <p class="badge badge-primary">@Model.Ticket.TicketType.Name</p><br />
                    <p class="badge badge-primary">@Model.Ticket.TicketPriority.Name</p><br />
                    <p class="badge badge-primary">@Model.Ticket.TicketStatus.Name</p>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12">
        <div class="card shadow m-3 p-3 ticket-cards">
            <div class="card-header border-0">
                <div class="card-title">Ticket Attachments</div>
            </div>
            <div class="card-body">
                <div class="row clearfix">
                    @foreach (TicketAttachment item in Model.Ticket.Attachments)
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="file">
                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-id="@item.Id">
                                        <div class="hover">
                                            <a asp-action="Delete" asp-controller="TicketAttachments" asp-route-id="@item.Id" type="button" data-toggle="modal" data-target="#deleteAttachmentModal" class="btn-sm btn-icon btn-danger">
                                                <i class="fa fa-xs fa-trash"></i>
                                            </a>
                                        </div>
                                        <div class="icon">
                                            <img src="@_fileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                        </div>
                                        <div class="file-name">
                                            <p class="m-b-5 text-muted">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                            <small>Size: @_fileService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this attachment?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-controller="TicketAttachments" asp-action="Delete" asp-route-id="@item.Id">
                                            <input type="hidden" asp-for="@item.Id" />
                                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                                            <input type="submit" value="Delete" class="btn btn-danger">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Ticket.Id" name="TicketId">


                        <div class="media-body ml-3">
                            <label class="form-label d-block mb-2">Add Attachment</label>
                            <label>
                                Description
                                <input asp-for="@Model.Ticket.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                            </label><br />
                            <label class="btn btn-outline-primary btn-sm">
                                <input asp-for="@Model.Ticket.Attachments.FirstOrDefault().FormFile" type="file" />
                            </label>
                            <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card m-3 mb-5 p-3">
            <div class="card-header border-0">
                <div class="card-title">Ticket Comments</div>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="TicketComments" method="post">
                    @*----which post did it come from...?-----*@
                    <input type="hidden" name="TicketId" value="@Model.Ticket.Id" />
                    <input type="hidden" name="ProjectId" value="@Model.Ticket.ProjectId" />
                    @*----------*@
                    <h5 class="text-center">ADD A COMMENT</h5>
                    <textarea class="form-control mb-3" rows="5" name="Comment"></textarea>
                    <button type="submit" class="btn btn-primary btn-block btn-sm">Submit!</button>
                </form>
                <div class="col-12 mx-auto">

                    <hr />
                    @*show user comments*@
                    <div class="btn-sm btn-dark btn-block w-100">@Model.Ticket.Comments.Count Comment(s)</div>

                    @foreach (var comment in Model.Ticket.Comments.OrderByDescending(c => c.Created))
                    {
                        <div class="row">
                            <div class="media border mr-3 ml-3 p-3 w-100">
                                @*<img src="@_fileService.DecodeFile(comment.User.AvatarFileData, comment.User.AvatarContentType)" alt="@comment.User.FullName" class="mr-3 mt-3 rounded-circle" style="width:60px;">*@
                                <div class="media-body">

                                    <h5>@comment.User.FullName <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small></h5>
                                    <p>@comment.Comment</p>

                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card shadow m-3 p-3">
            <div class="card-header border-0">
                <div class="card-title">Ticket History</div>
            </div>
            <div class="card-body">
                <div class="row d-flex mt-70 mb-70">
                    <div class="row">
                        <div class="col-12">
                            <ul class="timeline pr-5">
                                @foreach (TicketHistory history in Model.Ticket.History)
                                {
                                    <li>
                                        <p class="pl-5">@history.Description</p>
                                        <small class="pl-5">By @history.User.FullName on @history.Created.ToString("MMM dd, yyyy")</small>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
