@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using BugTracker.Services
@using System.Text.RegularExpressions
@model BugTracker.Models.ViewModels.SearchIndexViewModel

@{
    ViewData["Title"] = "Search Results";
}

<div class="text-center m-5">
    <h3 class="mb-3">@ViewData["Title"]</h3>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
    <div class="row">
        <!--Model is the IEnumerable and blog is the instance of Model-->
        @foreach (var ticket in Model.AdminPmTickets)
        {
        <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
            <div class="card h-100">
                <div class="card-header">
                    <h3>@ticket.Title</h3>
                </div>
                <div class="card-body">
                    <p class="text-left pl-3 pr-3">@ticket.Description</p>
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-primary btn-block rounded mt-5">Ticket Details</a>
                </div>
            </div>
        </div>
            
        }
    </div>

    <div class="row mt-5 m-3">
        <div class="col h5">
            Page @(Model.AdminPmTickets.PageCount < Model.AdminPmTickets.PageNumber ? 0 : Model.AdminPmTickets.PageNumber) of @Model.AdminPmTickets.PageCount
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            @Html.PagedListPager(Model.AdminPmTickets, page => Url.Action("SearchIndex", new { id = Model.AdminPmTickets.FirstOrDefault()?.Id, page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            }

          )
        </div>
    </div>
}

@if (User.IsInRole("Developer"))
{
    <div class="row">
        <!--Model is the IEnumerable and blog is the instance of Model-->
        @foreach (var ticket in Model.DeveloperTickets)
        {
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div class="card-header">
                    <h3>@ticket.Title</h3>
                </div>
                <div class="card-body">
                    <p class="text-left pl-3 pr-3">@ticket.Description</p>
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-primary btn-block rounded mt-3">Ticket Details</a>
                </div>
            </div>
        }
    </div>

    <div class="row m-3">
        <div class="col h5">
            Page @(Model.AdminPmTickets.PageCount < Model.AdminPmTickets.PageNumber ? 0 : Model.AdminPmTickets.PageNumber) of @Model.AdminPmTickets.PageCount
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            @Html.PagedListPager(Model.AdminPmTickets, page => Url.Action("SearchIndex", new { id = Model.AdminPmTickets.FirstOrDefault()?.Id, page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            }

          )
        </div>
    </div>
}

@if (User.IsInRole("Submitter"))
{
    <div class="row">
        <!--Model is the IEnumerable and blog is the instance of Model-->
        @foreach (var ticket in Model.SubmitterTickets)
        {
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div class="card-header">
                    <h3>@ticket.Title</h3>
                </div>
                <div class="card-body">
                    <p class="text-left pl-3 pr-3">@ticket.Description</p>
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-primary btn-block rounded mt-3">Ticket Details</a>
                </div>
            </div>
        }
    </div>

    <div class="row m-3">
        <div class="col h5">
            Page @(Model.AdminPmTickets.PageCount < Model.AdminPmTickets.PageNumber ? 0 : Model.AdminPmTickets.PageNumber) of @Model.AdminPmTickets.PageCount
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            @Html.PagedListPager(Model.AdminPmTickets, page => Url.Action("SearchIndex", new { id = Model.AdminPmTickets.FirstOrDefault()?.Id, page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            }

          )
        </div>
    </div>
}



