@model IEnumerable<BugTracker.Models.ViewModels.ManageUserRolesViewModel>

    @foreach (var member in Model)
    {
        <div class="card col-lg-6 mx-auto m-5" style="margin:2px">
            <div class="card-body">
                <h2 class="m-t-0 h3"><b>Assign Roles to @member.BTUser.FullName</b></h2>
                <p class="text-muted font-13 m-b-30">
                    This form displays the current roles assigned to the user: @member.BTUser.FullName. Use the dropdown to select the roles that this user should be assigned. Once roles are selected, click "Assign Roles" to submit the form.
                </p>
                <hr />
                <form asp-controller="UserRoles" asp-action="ManageUserRoles" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@member.BTUser.Id">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="@member.Roles" class="control-label">Roles for @member.BTUser.FullName</label>
                            <select asp-for="@member.SelectedRoles" class="form-control" asp-items="@member.Roles" multiple="multiple"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="col-12">
                        <div class="form-group pull-right">
                            <input type="submit" value="Assign Roles" class="btn btn-info" />
                            <a class="btn btn-info" asp-controller="Users" asp-action="Index">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    }