@model IEnumerable<Project>

<div class="row m-5">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Hoverable Rows Table</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table id="details-datatable" class="table table-hover card-table table-vcenter text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</thscope="col">
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Archived</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Project project in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        @project.Name
                                    </th>
                                    <td>
                                        @project.Description.Substring(0, 30) ...
                                    </td>
                                    <td>
                                        @project.StartDate.ToString("MMM dd, yyyy")
                                    </td>
                                    <td>
                                        @project.EndDate.ToString("MMM dd, yyyy");
                                    </td>
                                    <td>
                                        @project.ProjectPriorityId;
                                    </td>
                                    <td>
                                        @project.Archived
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
