@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRolesService BTRolesService
@model BugTracker.Models.Project
<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title"><span class="font-weight-normal text-muted mr-2">Project #67</span> @Model.Name</h4>
    </div>
    <div class="page-rightheader ml-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
            <div class="btn-list">
                <a class="btn btn-primary" asp-controller="Tickets" asp-action="Create"><i class="feather feather-plus fs-15 my-auto mr-2"></i>Create New Ticket</a>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->
<!-- Row -->

<div class="row">
    <div class="col-xl-3 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header  border-0">
                <div class="card-title">Project Details</div>
            </div>
            <div class="card-body pt-2 pl-3 pr-3">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="w-50">Team Lead</span>
                                </td>
                                <td>:</td>
                                <td>
                                    <span class="font-weight-semibold"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50">Start Date</span>
                                </td>
                                <td>:</td>
                                <td>
                                    <span class="font-weight-semibold">@Model.StartDate.ToString("MMM dd, yyyy")</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50">Deadline</span>
                                </td>
                                <td>:</td>
                                <td>
                                    <span class="font-weight-semibold">@Model.EndDate.ToString("MMM dd, yyyy")</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50">Priority</span>
                                </td>
                                <td>:</td>
                                <td>
                                    <span class="badge badge-danger-light">@Model.ProjectPriority.Name</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-end justify-content-between">
                        <h6 class="fs-12">Project Status</h6>
                        <h6 class="fs-12">80%</h6>
                    </div>
                    <div class="progress h-2">
                        <div class="progress-bar bg-success w-80"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header  border-0">
                <div class="card-title">Assigned Team</div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addteammodal">Add</a>
                </div>
            </div>
            <div class="card-body p-1 pt-2">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            @foreach (BTUser member in Model.Members)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <span class="avatar avatar-md brround mr-3" style="background-image: url(../../assets/images/users/4.jpg)"></span>
                                            <div class="mr-3 mt-0 mt-sm-1 d-block">
                                                <h6 class="mb-1 fs-14">@member.FullName</h6>
                                                <p class="text-muted mb-0 fs-12">Role goes here </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chart-circle chart-circle-xxs" data-value="0.62" data-thickness="3" data-color="#0dcd94" data-toggle="tooltip" data-placement="top" title="Project Status">
                                            <div class="chart-circle-value text-success">62</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex mt-1 text-right">
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="View"><i class="feather feather-eye text-primary"></i></a>
                                            <a href="#" class="action-btns1  mr-0" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-12 col-lg-12">
        <div class="tab-menu-heading hremp-tabs p-0 ">
            <div class="tabs-menu1">
                <!-- Tabs -->
                <ul class="nav panel-tabs">
                    <li class="ml-4"><a href="#tab5" class="active" data-toggle="tab">Overview</a></li>
                    <li><a href="#tab6" data-toggle="tab">Tickets</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
            <div class="tab-content">
                <div class="tab-pane active" id="tab5">
                    <div class="card-body">
                        <h5 class="mb-4 font-weight-semibold">Description</h5>
                        <p>@Model.Description</p>
                        </div>
                </div>
                <div class="tab-pane" id="tab6">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="task-list">
                                <thead>
                                    <tr>
                                        <th class="border-bottom-0">Title</th>
                                        <th class="border-bottom-0">Assign To</th>
                                        <th class="border-bottom-0">Priority</th>
                                        <th class="border-bottom-0">Start Date</th>
                                        <th class="border-bottom-0">Ticket Status</th>
                                        <th class="border-bottom-0">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(Ticket ticket in Model.Tickets)
                                    {
                                        <tr>
                                            <td>@ticket.Title</td>
                                            @if(ticket.OwnerUser is not null)
                                            {
                                                <td>@ticket.OwnerUser.FullName</td>
                                            }
                                            else
                                            {
                                                <td>Unassigned</td>
                                            }
                                            <td>@ticket.TicketPriority</td>
                                            <td>@ticket.Created.ToString("MMM dd, yyyy")</td>
                                            <td>@ticket.TicketStatus</td>
                                            <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id"><i class="far fa-eye"></i></a></td>
                                        </tr>
                                    }
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->
					</div><!-- end app-content-->
				</div>

			</div>

<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                Copyright © 2021 <a href="#">Dayone</a>. Designed by <a href="#">Spruko Technologies Pvt.Ltd</a> All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- End Footer-->
<!--Sidebar-right-->
<div class="sidebar sidebar-right sidebar-animate">
    <div class="card-header border-bottom pb-5">
        <h4 class="card-title">Notifications </h4>
        <div class="card-options">
            <a href="#" class="btn btn-sm btn-icon btn-light  text-primary" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="feather feather-x"></i> </a>
        </div>
    </div>
    <div class="">
        <div class="list-group-item  align-items-center border-0">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/4.jpg)"></span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Liam <span class="text-muted font-weight-normal">Sent Message</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>30 mins ago</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/10.jpg)"></span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Paul<span class="text-muted font-weight-normal"> commented on you post</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>1 hour ago</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3 bg-pink-transparent"><span class="feather feather-shopping-cart"></span></span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">James<span class="text-muted font-weight-normal"> Order Placed</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>1 day ago</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/9.jpg)">
                    <span class="avatar-status bg-green"></span>
                </span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Diane<span class="text-muted font-weight-normal"> New Message Received</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>1 day ago</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/5.jpg)">
                    <span class="avatar-status bg-muted"></span>
                </span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Vinny<span class="text-muted font-weight-normal"> shared your post</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>2 days ago</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3 bg-primary-transparent">M</span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Mack<span class="text-muted font-weight-normal"> your admin lanuched</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>1 week ago</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/12.jpg)">
                    <span class="avatar-status bg-green"></span>
                </span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Vinny<span class="text-muted font-weight-normal"> shared your post</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>04 Jan 2021 1:56 Am</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/8.jpg)">	</span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Anna<span class="text-muted font-weight-normal"> likes your post</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>25 Dec 2020 11:25 Am</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/14.jpg)">	</span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Kimberly<span class="text-muted font-weight-normal"> Completed one task</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>24 Dec 2020 9:30 Pm</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3" style="background-image: url(../../assets/images/users/3.jpg)">	</span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Rina<span class="text-muted font-weight-normal"> your account has Updated</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>28 Nov 2020 7:16 Am</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-group-item  align-items-center  border-bottom">
            <div class="d-flex">
                <span class="avatar avatar-lg brround mr-3 bg-success-transparent">J</span>
                <div class="mt-1">
                    <a href="#" class="font-weight-semibold fs-16">Julia<span class="text-muted font-weight-normal"> Prepare for Presentation</span></a>
                    <span class="clearfix"></span>
                    <span class="text-muted fs-13 ml-auto"><i class="mdi mdi-clock text-muted mr-1"></i>18 Nov 2020 11:55 Am</span>
                </div>
                <div class="ml-auto">
                    <a href="" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="feather feather-more-horizontal"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Sidebar-right-->
<!--Change password Modal -->
<div class="modal fade" id="changepasswordnmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" placeholder="password" value="">
                </div>
                <div class="form-group">
                    <label class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" placeholder="password" value="">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-primary" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Confirm</a>
            </div>
        </div>
    </div>
</div>
<!-- End Change password Modal  -->
<!--Add Team Modal -->
<div class="modal fade" id="addteammodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Member</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Employee Name:</label>
                    <select class="form-control custom-select select2" multiple="multiple">
                        <option label="Select Employee"></option>
                        <option value="1">Faith Harris</option>
                        <option value="2">Austin Bell</option>
                        <option value="3">Maria Bower</option>
                        <option value="4">Peter Hill</option>
                        <option value="5">Victoria Lyman</option>
                        <option value="6">Adam Quinn</option>
                        <option value="7">Melanie Coleman</option>
                        <option value="8">Max Wilson</option>
                        <option value="9">Amelia Russell</option>
                        <option value="10">Justin Metcalfe</option>
                        <option value="11">Ryan Young</option>
                        <option value="12">Jennifer Hardacre</option>
                        <option value="13">Justin Parr</option>
                        <option value="14">Julia Hodges</option>
                        <option value="15">Michael Sutherland</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Department:</label>
                    <select class="form-control custom-select select2" data-placeholder="Select Department">
                        <option label="Select Department"></option>
                        <option value="1">Designing Department</option>
                        <option value="2">Development Department</option>
                        <option value="3">Marketing Department</option>
                        <option value="4">Human Resource Department</option>
                        <option value="5">Managers Department</option>
                        <option value="6">Application Department</option>
                        <option value="7">Support Department</option>
                        <option value="8">IT Department</option>
                        <option value="9">Technical Department</option>
                        <option value="10">Accounts Department</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-danger" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" onclick="not1()">Add</a>
            </div>
        </div>
    </div>
</div>
<!-- End Add Team Modal  -->
<!--View Sub-Task Modal -->
<div class="task-fade sidebar-modal">
    <div class="sidebar-dialog task-modal">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div>
                    <h4 class=""><span class="font-weight-normal text-muted mr-2">Task 01</span> Design Updated </h4>
                    <label class="mr-2">Priority:</label><span class="badge badge-danger-light">High</span>
                </div>
                <div class="ml-auto mt-3">
                    <a href="#" class="btn btn-success mr-2">Mark as Complete</a>
                    <a href="#" class="action-btns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather feather-more-horizontal"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                        <li><a href="#"><i class="feather feather-send mr-2"></i>Send</a></li>
                        <li><a href="#"><i class="feather feather-edit-2 mr-2"></i>Edit</a></li>
                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                    </ul>
                    <a href="#" class="action-btns dismiss">
                        <i class="feather feather-x"></i>
                    </a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-8 border-right">
                    <div class="card-body">
                        <h5 class="mb-4  font-weight-semibold">Description</h5>
                        <div class="main-profile-bio mb-0">
                            <span class="fs-14 mt-2 text-muted">
                                Mobile App Ui Designing and Prototyping
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking
                            </span>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries nchanged.</p>
                            <h5 class="mb-4 mt-5 font-weight-semibold">Attachments</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="p-3 br-7 border text-center">
                                        <a href="#" class="text-center">
                                            <img src="../../assets/images/files/attachments/2.png" alt="img" class="avatar bg-transparent avatar-lg mb-2">
                                            <div>
                                                <span class="font-weight-semibold fs-12">doc.pdf<span class="text-muted ml-2">(23.8 KB)</span></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3 br-7 border text-center mt-4 mt-lg-0">
                                        <a href="#" class="text-center">
                                            <img src="../../assets/images/files/attachments/4.png" alt="img" class="avatar bg-transparent avatar-lg mb-2">
                                            <div>
                                                <span class="font-weight-semibold fs-12">Project<span class="text-muted ml-2">(578.6MB)</span></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-5 br-7 border text-center mt-4 mt-lg-0">
                                        <a href="#" class="text-center fs-35 text-success">
                                            <i class="fe feather-plus-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-4 mt-5 font-weight-semibold">Add Comment</h5>
                            <div class="form-group">
                                <label class="form-label">Title</label>
                                <input class="form-control" placeholder="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <div class="summernote1"></div>
                            </div>
                            <a href="#" class="btn btn-primary">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <div class="form-group mb-5">
                            <label>Assigned To:</label>
                            <div class="d-flex">
                                <span class="avatar avatar-md brround mr-3" style="background-image: url(../../assets/images/users/1.jpg)"></span>
                                <div class="mr-3 mt-0 mt-sm-1 d-block">
                                    <h6 class="mb-1 fs-14">Faith Harris</h6>
                                    <p class="text-muted mb-0 fs-12">Web Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-5">
                            <label class="mb-1">Department:</label>
                            <p class="form-label">Designing</p>
                        </div>
                        <div class="form-group mb-5">
                            <label class="mb-1">Start Date:</label>
                            <p class="form-label">12-02-2021</p>
                        </div>
                        <div class="form-group mb-5">
                            <label class="mb-1">Deadline Date:</label>
                            <p class="form-label">16-06-2021</p>
                        </div>
                        <div class="form-group mb-5">
                            <label class="mb-1">Work Status:</label>
                            <div><span class="badge badge-warning">On hold</span></div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-5">
                            <h6 class="">Project Status</h6>
                            <h6 class="font-weight-bold mb-1">30%</h6>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-success w-30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- View Sub-Task Modal  -->
<!--Add Mielstone Modal -->
<div class="modal fade" id="addmilemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Milestone</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Title:</label>
                    <input class="form-control" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label class="form-label">($)Cost:</label>
                    <input class="form-control" placeholder="Enter Cost">
                </div>
                <div class="form-group">
                    <label class="form-label">Select Deadline</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="feather feather-calendar"></i>
                            </div>
                        </div><input class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
                    </div>
                </div>
                <div class="custom-controls-stacked d-md-flex">
                    <label class="form-label mt-1 mr-5">Status:</label>
                    <label class="custom-control custom-radio success mr-4">
                        <input type="radio" class="custom-control-input" name="example-radios1" value="option7">
                        <span class="custom-control-label">Completed</span>
                    </label>
                    <label class="custom-control custom-radio success mr-4">
                        <input type="radio" class="custom-control-input" name="example-radios1" value="option8">
                        <span class="custom-control-label">InCompleted</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-danger" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" onclick="not1()">Add</a>
            </div>
        </div>
    </div>
</div>
<!-- End Add Milestone Modal  -->
