@model IEnumerable<Project>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Priority</th>
            <th scope="col">Archived</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project project in Model)
        {
        <tr>
            <td>
                @project.Name
            </td>
            <td>
                @project.Description
            </td>
            <td>
                @project.StartDate.ToString("MMM dd, yyyy")
            </td>
            <td>
                @project.EndDate.ToString("MMM dd, yyyy");
            </td>
            <td>
                @project.ProjectPriorityId;
            </td>
            <td>
                @project.Archived
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@project.Id">Details</a>
            </td>
        </tr>

        }
    </tbody>
</table>
